.wrapper {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.score-display {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
    justify-content: space-between;
}

.score-display .announcement {
    font-weight: bold;
    margin: 0;
}

.score-display .scores > span {
    display: block;
}

.versus-span {
    font-size: 1.5rem;
    font-weight: bold;
}

.human-choice {
    display: flex;
    gap: 4rem;    
}

.human-choice > img:hover {
    background-color: #eeedeb;
}

img {
    height: 150px;
    width: 150px;
}